<#macro select id="" class="" model="" disabled="" cacheId="" onChange="">
    <select id="${id}" class="${class}" v-model="${model}" ${disabled} @change="${onChange}">
        <@dictCache id="${cacheId}">
            <option value="">请选择</option>
            <#if dictList?? && (dictList?size > 0) >
                <#list dictList as dict>
                    <option value="${dict.code}">${dict.value}</option>
                </#list>
            </#if>
        </@dictCache>
    </select>
</#macro>